* {
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  margin: 20px 10px;
  padding-top: 20px;
  line-height: 1.3;
  text-shadow: 5px 8px 10px grey;
}

.main-header {
  height: 500px;
  background: linear-gradient(white, transparent 100%),
              linear-gradient(to top, white, transparent),
              url('coding.jpg') no-repeat center;
  color: #676798;
  font-family: "impact", fantasy, candara, Helvetica, arial;
}

.logo {
  margin: 20px 20px;
  max-width: 200px;
	width: 100%;
	height: auto;
}

.content {
  font-family: "fantasy", candara, Helvetica, arial;
}

.figure {
  padding: 20px;
  margin: 10px 10px;
  max-width: 800px;
	width: 100%;
  display: inline-block;
  border: 1px;
  margin: 20px;
}

.figure, img {
    vertical-align: top;
}

figure,
figcaption {
    border: 1px;
    text-align: center;
}

.secondary-heading,
.main-content {
  text-align: center;
}

footer,
.copyright {
  top: -8px;
  margin-right: 20px;
  font-size: 1em;
  text-align: center;
}
